body {
    margin: 0;
    color: #FFF6E5;
    background-color: #3E454C;
    font-family: "HelveticaNeueW02-Thin","HelveticaNeue-Light","Helvetica Neue Light",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 30px;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: "HelveticaNeue","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,
h2,
h3 {
    padding: 0 0 12px 0;
}

h1 {
    font-size: 500%;
    padding: 0 0 60px 0;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

p {
    width: 810px;
    margin: auto;
    padding: 12px 0;
    line-height: 42px;
    text-align: justify;
}

a {
    text-decoration: none;
}

.organisation {
    font-weight: bold;
    color: #2185C5;
}

.organisation.lastfm {
    color: #e31b24;
}

.bio {
    background-color: #3E454C;
}


header {
    padding: 48px 12px;
}

section {
    padding: 0 12px;
}

footer {
}

.social {
    width: 150px;
    height: 0px;
    padding-top: 150px;
    overflow: hidden;
    margin: 0 30px;
    display: inline-block;
}

li {
    display: inline-block;
}

.social.twitter {
    background-image:url('../img/twitter.png');
}

.social.lastfm {
    background-image:url('../img/lastfm.png');
}

.social.tumblr {
    background-image:url('../img/tumblr.png');
}

.social.github {
    background-image:url('../img/github.png');
    background-color: #eee;
}
